{{ define "main" }}
	{{ if .Content }}
	<div>
		{{ with .Content }}<div>{{ . }}</div>{{ end }}
	</div>
	{{ end }}
	<div class="container-full">
		<ul class="items">
		{{ range .Data.Pages }}
				<li class="item">
					<a href="{{.Permalink}}">
						{{ if .Params.banner }}
						<img src="{{ .Params.banner }}" />
						{{ end }}
						<h2>
							{{.Title}}
						  </h2>
						{{ if .Params.subtitle }}
						  <h3>{{ .Params.subtitle }}</h3>
						{{ end }}
						{{ if .Params.location }}
						  <h4>{{ .Params.location }}</h4>
						{{ end }}
						{{ if .Params.products }}
						  <p>Produits : {{ .Params.products }}</p>
						{{ end }}
						{{ if .Params.km }}
						  <p>Distance : {{ .Params.km }}</p>
						{{ end }}	
					</a>
				</li>
		{{ end }}
			</ul>
			
	  </div>
{{ end }}
