{{ define "main" }}

	
	
	<div class="banner container-full">		
		{{ if .Params.banner }}
		<img src="../{{ .Params.banner }}" class="shadow"/>
		{{ end }}
		{{ if .Params.banner1 }}
		<img src="../{{ .Params.banner1 }}" class="shadow" />
		{{ end }}
		{{ if .Params.banner2 }}
		<img src="../{{ .Params.banner2 }}" class="shadow" />
		{{ end }}
	</div>
	
	<article style="margin-top:4em;">
		
		<h1>{{ .Title }}</h1>
		{{ if .Params.subtitle }}
	  	<h2>{{ .Params.subtitle }}</h2>
		{{ end }}
		{{ if .Params.location }}
	  	<h3>{{ .Params.location }}</h3>
		{{ end }}
		{{ if .Params.products }}
	  	<p>Produits : {{ .Params.products }}</p>
		{{ end }}
		{{ if .Params.km }}
	  	<p>Distance : {{ .Params.km }}</p>
		{{ end }}		
  	
	  	{{ .Content }}
		
	</article>
	

{{ end }}
