{{ define "main" }}
	{{ if .Content }}
	<div>
		LIST TOURISM
		{{ with .Content }}<div>{{ . }}</div>{{ end }}
	</div>
	{{ end }}
	<div class="container-full">
		<ul class="items">
		{{ range .Data.Pages }}	
			<li class="item">
				<a href="{{.Permalink}}">
					<h2>
						{{.Title}}
					  </h2>
					{{ if .Params.subtitle }}
					  <h2>{{ .Params.subtitle }}</h2>
					{{ end }}
					{{ if .Params.location }}
					  <h3>{{ .Params.location }}</h3>
					{{ end }}
					{{ if .Params.km }}
					  <p>Distance : {{ .Params.km }}</p>
					{{ end }}	
				</a>
			</li>
		{{ end }}
		</ul>
	</div>
{{ end }}
